@font-face {
    font-family: MyCustomFont;
    src: url('fonts/RobotoSlab-Regular.ttf');
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


* {
  font-family: MyCustomFont;
}

html, body {
  height: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(images/probapozadinskaslika.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

header {
  min-height: 600px;
}

.hamburger {
  visibility: hidden;
}

.navmenu {
  float: right;
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  margin-right: 100px;
  margin-top: 20px;
  background: none;
}

nav {
  width: 100%;
  position: fixed;
}

ul a {
  display: block;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #42210b;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  border-top: 1px solid #898989;
}

ul a:hover {
  background: rgba(255,255,255,0.3);
}

nav li {
  float: left;
  width: 20%;
}

nav li:last-child {
  border-right: none;
}

#logo {
  float:left;
  width: 10%;
  margin: 20px 0 0 50px;
}

.bigimage{
  padding-top: 30px;
  float: none;
}

.bigimage img{
  width: 100%;
  background-repeat: no-repeat;
}

.testnav{
  float: none;
  width: 100%;
  display: block;
  margin: auto;
  color: #42210b;
  text-align: center;
}

.testnav h3 {
  font-size: 26px;
  font-weight: bold;
}

.testnav h5 {
  padding-top: 5px;
  font-size: 12px;
}

.testbutton{
  margin-top: 15px;
  background: none;
  border: 1px solid #42210b;
  width: 100px;
  height: 30px;
  color: #42210b;
  font-size: 12px;
}

.testbutton:hover {
  color: #9b1606;
}

.tracker {
  padding: 15px;
  margin: 130px 0 0 0;
  position: fixed;
}

.vline {
  background: #883223;
  width: 4px;
  height: 50px;
  margin-left: 26px;
  margin-bottom: 30px;
  border-radius: 50%;
}

.vline:last-child{
  margin-bottom: 0px !important;
}

.dot{
  background: #883223;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 25px;
  margin-bottom: 30px
}

.current-section{
  background: #d14b1c;
}

.left_seperator {
  display: block;
  position: absolute;
  left: 0;
}

.left_seperator .seperator-line{
  height: 4px;
  width: 200px;
  background: #883223;
  float:left;
  margin-top: 15px;
}

.left_seperator img{
  width: 25px;
  transform: rotate(60deg);
  margin-left: 15px;
}

.right_seperator {
  display: block;
  position: absolute;
  right: 0;
}

.right_seperator .seperator-line{
  height: 4px;
  width: 200px;
  background: #883223;
  margin-top: 15px;
  float: right;
}

.right_seperator img{
  width: 25px;
  transform: rotate(60deg);
  margin-right: 15px;
}

#novosti {
  margin: 0 40px 0 40px;
  display:table;
  text-align: center;
  color: #883223;
}

#novosti h3 {
  font-size: 48px;
}

#datum {
  font-size: 12px;
  float: left;
  padding-left: 28px;
}

.kolumna {
  font-size: 18px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0 28px 0 28px;
}

#column-left {
  width: 33%;
  float: left;
  padding: 20px;
}

#column-center {
  display: inline-block;
  width: 33%;
  padding: 20px;
}

#column-right {
  width: 33%;
  float: right;
  padding: 20px;
}

.coffeemenu {
  list-style: none;
  margin: 30px 0 0 20px;
}

.coffeemenu li {
  float: left;
  width: 8%;
}

li input{
  display: block;
  cursor: pointer;
}

.current-coffee{
  min-height: 400px;
}

.coffee-image{
  float: left;
  width: 30%;
  position: relative;
  left: 150px;
}

.coffee-desc {
  float: right;
  padding: 180px 100px 300px 50px;
  width: 50%;
  position: relative;
  right: 0px;
}

.transition-left{
  -webkit-transition: left 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: left 0.5s ease-out;  /* Firefox 4-15 */
       -o-transition: left 0.5s ease-out;  /* Opera 10.50–12.00 */
          transition: left 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.transition-right{

  -webkit-transition: right 0.5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: right 0.5s ease-out;  /* Firefox 4-15 */
       -o-transition: right 0.5s ease-out;  /* Opera 10.50–12.00 */
          transition: right 0.5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}

.slide-left {
  left: -600px !important;
}

.slide-right {
  right: -800px !important;
}

@media only screen and (max-width: 480px) {

  body {
    background: none;
  }

  .tracker{
    opacity: 0;
  }

  .vline{
    opacity: 0;
  }

  header{

  }

  nav {
    background: #42210b;
    position: absolute;
  }


  #logo {
    float: none;
    width: 20%;
    display: block;
    margin: auto;
    margin-top: 15px;
  }


  .hamburger{
    background:none;
    position:absolute;    
    top:12px;
    right:20px;
    line-height:45px;
    color:#999;
    border:0;
    font-size:1.4em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
    visibility: visible;
  }

  .cross{
    background:none;
    position:absolute;
    top:12px;
    right:20px;
    color:#999;
    border:0;
    font-size:3em;
    line-height:65px;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }

  nav li {
    width: 100%;
  }
  
  .navmenu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
    background: #42210b;
    margin-right: 0px;
  }

  nav li{
    width: 100%;
  }

  ul a{
    color: #fff;
    border-bottom: 2px;
    border-color: #fff;
  }
  
  .slide-down {
    height: 370px;
  }
}